#principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

#descripcion {
    font-size: 300%;
}

#carteles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}